<div class="container">
	<div class="collapse mb-3 mt-3" id="collapseExample">
		<div class="card card-body bg-light">
			<div class="row align-items-center">
				<div class="col-7 h5">
					Добро пожаловать на сайт Java Projects!</br>
					Меня зовут Шляхтенков Игорь.</br>
					На страницах сайта представлены мои Java хобби-проекты.</br>
					Каждый проект можно протестировать в реальном времени.</br>
					Также Вы можете ознакомиться с исходным кодом проектов, перейдя на GitHub по приложенным ссылкам.</br>
					Для скачивания доступны Docker Compose файлы, позволяющие задеплоить приложения с помощью Docker.
				</div>
				<div class="col-2"></div>
				<div class="col-3">
					<img id="myImg" src="img/shlyakhtenkov.jpeg" title="Igor Shlyakhtenkov" width="67%" class="float-right">
				</div>
			</div>
		</div>
	</div>
</div>