<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
	<div class="container">
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand font-weight-bold" href="https://javaprojects.ru" title="Java Projects">
			<img src="../images/javaprojects-logo.png" width="30" height="30" class="d-inline-block mb-3" alt="Java Projects Logo">
			Java Projects
		</a>
		<div class="collapse navbar-collapse flex-row-reverse" id="navbar">
			<ul class="navbar-nav">
				<li class="nav-item d-lg-none">
					<a class="nav-link" href="https://javaprojects.ru">
						На главную
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Проекты<span class="caret"></span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="project-pages/energy-balance-control.html">Контроль энергобаланса</a>
						<a class="dropdown-item" href="project-pages/album-accounting.html">Учет альбомов КД</a>
						<a class="dropdown-item" href="project-pages/skill-aggregator-new.html">Агрегатор ключевых навыков (new)</a>
						<a class="dropdown-item" href="project-pages/reward-calculator.html">Калькулятор премий</a>
						<a class="dropdown-item" href="project-pages/calories-management.html">Менеджмент калорий</a>
						<a class="dropdown-item" href="project-pages/online-testing.html">Онлайн тестирование</a>
						<a class="dropdown-item" href="project-pages/restaurant-aggregator.html">Ресторанный агрегатор</a>
						<a class="dropdown-item" href="project-pages/copy-maker.html">Копировщик документов</a>
						<a class="dropdown-item" href="project-pages/skill-aggregator-old.html">Агрегатор ключевых навыков (old)</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about.html">
						О сайте
					</a>
				</li>
			</ul>
		</div>		
	</div>
</nav>