<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-1">
	<div class="container">
		<a class="navbar-brand font-weight-bold" href="https://javaprojects.ru">
			<img src="img/java.png" width="30" height="30" class="d-inline-block mb-3" alt="">
			Java Projects
		</a>
				
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Проекты
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="aggregator.html">Агрегатор ключевых навыков</a>
					<a class="dropdown-item" href="album-accounting.html">Система учета альбомов КД</a>
					<a class="dropdown-item" href="in-developing.html">Менеджмент тренировок</a>
					<a class="dropdown-item" href="online-testing.html">Система онлайн тестирования</a>
					<a class="dropdown-item" href="calories-management.html">Система подсчета калорий</a>
					<a class="dropdown-item" href="restaurant-voting.html">Система голосования за рестораны</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="rotateIcon(); closeImgModal(); goTop()">
					О сайте <i class="fas fa-angle-down" id="collapsed-chevron"></i>
				</a>
			</li>

		</ul>
	</div>
</nav>